html {
  position: relative;
  margin: 0px;
  height: 100%;
  width: 100vw;
}

body {
  background: 
  #a1aba2;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

/* ----Banner---- */


header {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;;
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* that will need to change when I add more */
  background-color: #cfb975a7;
}

.logo {
  height: 250px;
  position: absolute;
  left: 45%
}


/* ----Main Content---- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.header-image-container {
  padding-top: 400px;
  padding-bottom: 300px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(/Users/adelle_pitsas/turing_work/2mod/projects/overlook-hotel/dist/BrigertonHouse.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.welcome-message {
  font-size: 30px;
  color: #273135;
  left: 2%;
  position: absolute;
}

.main-content {
  display: flex;
  width: 100%;
}

.booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 
  #a1aba2;
  width: 70%;
}

.booking-banner {
  width: 60%;
  text-align: center;
}

.booking-selection-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #607380;
  width: 80%;
  height: 175px;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%);
}

.room-type-dropdown-label,
.date-picker-label {
  margin: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.room-type-select,
.date-picker {
  border-radius: 5px;
  text-align: center;
  background-color: aliceblue;
  height: 30px;
  width: 175px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
}

.submit-search-button {
  height: 40px;
  width: 100px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  font-size: 20px;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%);
}

.submit-search-button:hover {
  filter: brightness(150%);
}

.available-rooms-container,
.available-rooms {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
}



/* --room cards--- */

.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
  padding-bottom: 10px;
  line-height: 1.5;
  margin: 32px 8px;
  background-color: #dfd0b5;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%);
}

figure {
  width: 100%;
  overflow: hidden;
  margin: 0;
  margin-bottom: 3px;
  border-radius: 5px 5px 0 0 ;
}

.bedroom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  width: 100%
}

.book-room-button {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: #273135;
  color: aliceblue;
  margin-top: 10px;
  cursor: pointer;
}

/* ----User Info---- */

.user-info-container {
  width: 30%;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfd3bc;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 0 5px 5px 0;
}

/* ---Cumulative Cost--- */

.cumulative-cost-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 5px;
  background-color: #607380;
  color: aliceblue;
  margin-bottom: 10px;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%);
}

.booking-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.previous-bookings-dropdown,
.upcoming-bookings-dropdown {
  /* all: unset; */
  cursor: pointer;
  position: relative;
  margin-top: 45px;
  border-radius: 10px;
  height: 50px;
  width: 260px;
  font-size: 18px;
  background-color: #607380;
  color: aliceblue;
  box-shadow: 1px 3px 3px rgb(0 0 0 / 20%), -1px -1px 4px rgb(0 0 0 / 20%);
}

.previous-dropdown-arrow,
.upcoming-dropdown-arrow {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 8px;
  height: 8px;
  margin-left: 20px;
  top: -2px;
  transform: rotate(45deg);
  transition: all ease-in-out 300ms;
  color: black;
}

.previous-dropdown-arrow-open,
.upcoming-dropdown-arrow-open {
  transform: rotate(-135deg);
  top: 3px;
}

.previous-bookings-dropdown:hover,
.upcoming-bookings-dropdown:hover {
  filter: brightness(150%);
}

.previous-bookings-dropdown:active,
.upcoming-bookings-dropdown:active {
  top: 1px;
}


@keyframes dropdown-open {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    transform: rotatex(0deg);
  }
}

@keyframes dropdown-open {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    transform: rotatex(0deg);
  }
}

.previous-dropdown-container,
.upcoming-dropdown-container {
  width: 260px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 30px;
}

.dropdown-header-room-number {
  text-align: center;
}

.bookings-header-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f6fbfc8a;
}

.booking {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f6fbfc8a;
}

.header-date {
  margin-left: 10px;
}

.booking-room {
  margin-right: 30px;
}


/* ----Pop Ups---- */
.choose-date-error {
  color: red;
  font-size: 14px;
}

.network-error-popup,
.no-dates-available-popup,
.book-room-success-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 500px;
  height: auto;
  position: fixed;
  border-radius: 10px;
  padding-top: 10px;
  z-index: 9999;
  top: calc(50% - 225px);
  left:calc(50% - 225px);
}

.alert-icon {
  width: 50px;
  height: 50px;
}

.dismiss {
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #efd46f;
  border: #dfd0b5;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.dismiss-error {
  background-color: #ef6f6f;
  border: #e3a2a2;

}

.error-text,
.no-date-text,
.confirmation-text {
  text-align: center;
  font-size: 19px;
}

.dismiss:hover {
  filter: brightness(110%);
}

footer {
  height: 200px;
  background-color: #cfb975a7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-github-icon {
  height: 40px
}

/* ----Utility---- */
.hidden {
  display: none;
}


.blur-filter {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}